In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    port=3307,  # Change to 3306 if your MySQL uses default port
    user='root',
    password='G@nesh8179#',
    database='student_db'
)

cursor = connection.cursor()

StudentDB = {}
def add_student(name):
    if name in StudentDB:
        print(f"{name} already exists.")
    else:
        StudentDB[name] = {}
        print(f"{name} has been added.")

def add_grade(name, subject, grade):
    if name not in StudentDB:
        print("Student not found.")
        return

    StudentDB[name][subject] = grade
    print(f"Grade added/updated for {name} in {subject}.")

    try:
        cursor.execute("""
            INSERT INTO students (SName, Subject, Grades)
            VALUES (%s, %s, %s)
        """, (name, subject, grade))
        connection.commit()
    except Exception as e:
        print(" MySQL Error:", e)

def calculate_average(name):
    if name not in StudentDB:
        print("Student not found.")
        return
    if not StudentDB[name]:
        print("No grades available.")
        return

    grades = list(StudentDB[name].values())
    avg = sum(grades) / len(grades)
    print(f"Average grade for {name} is {avg:.2f}")

def display_all():
    try:
        cursor.execute("SELECT * FROM students") 
        rows = cursor.fetchall()

        if not rows:
            print("No student records found.")
            return

        print("\n All Students (From MySQL):")
        for row in rows:
            print(f"Student: {row[0]}, Subject: {row[1]}, Grade: {row[2]}")
    except Exception as e:
        print(" MySQL Error:", e)

def menu():
    while True:
        print("\n MENU:")
        print("1. Add Student")
        print("2. Add/Update Grade")
        print("3. Calculate Average Grade")
        print("4. Display All Students")
        print("5. Exit")

        choice = input("Enter your choice: ")

        if choice == '1':
            name = input("Enter student name: ")
            add_student(name)
        elif choice == '2':
            name = input("Enter student name: ")
            subject = input("Enter subject: ")
            try:
                grade = float(input("Enter grade: "))
                add_grade(name, subject, grade)
            except ValueError:
                print(" Grade must be a number.")
        elif choice == '3':
            name = input("Enter student name: ")
            calculate_average(name)
        elif choice == '4':
            display_all()
        elif choice == '5':
            print(" Exiting program.")
            break
        else:
            print(" Invalid choice. Try again.")

menu()
cursor.close()
connection.close()

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:  44

 Invalid choice. Try again.

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:

 Invalid choice. Try again.

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:  4

 All Students (From MySQL):
Student: gani, Subject: java, Grade: 99
Student: Teja Don, Subject: SQL, Grade: 99

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:  1
Enter student name:  Varun

Varun has been added.

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:  2
Enter student name:  Varun
Enter subject:  Maths
Enter grade:  99

Grade added/updated for Varun in Maths.

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:  3
Enter student name:  Varun

Average grade for Varun is 99.00

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit

Enter your choice:  4

 All Students (From MySQL):
Student: gani, Subject: java, Grade: 99
Student: Teja Don, Subject: SQL, Grade: 99
Student: Varun, Subject: Maths, Grade: 99

 MENU:
1. Add Student
2. Add/Update Grade
3. Calculate Average Grade
4. Display All Students
5. Exit